#wpcontent {
	padding-left: 0 !important;
	position: relative;

	.wrap {
		margin: 0;

		h1 {
			padding: 20px 0 20px 25px;
		}
	}
}

#test-project-app {
	h2 {
		color: #222;
		font-size: 20px;
		font-weight: 600;
		margin: 0 0 15px 0;
	}
	button {
		font-size: 13px;
		font-weight: 600;
		padding: 8px 12px;
		min-height: 35px;		

		background-color: #e27730;
		border-color: #e27730;
		color: #fff;

		box-sizing: border-box;
		border: 0;
		border-radius: 3px;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		text-shadow: none;
		box-shadow: none;
		outline: none;
	}

	button:hover, button:active, button:focus {
		background-color: #b85a1b;
		border-color: #b85a1b;
		color: #fff;
	}

	button:focus {
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px #b85a1b;
	}

	form {
		// margin: 0;
		// padding: 0;
		// max-width: 400px;
	}

	.form-row {
		border-bottom: 1px solid #e4e4e4;
		padding: 30px 0;
		font-size: 14px;
		line-height: 1.3;
		// display: flex;
		// justify-content: flex-start;
		// align-items: flex-start;
		// padding: 10px 0;

		&.right {
			// flex: 1;
			// display: flex;
			// justify-content: flex-start;
			// margin-left: 100px;
		}
	
		label {
			//display: block;
			// flex: 0 0 100px;
		}

		.label-wrapper {
			display: block;
			font-weight: 600;
			float: left;
			width: 205px;
			padding: 0 20px 0 0;

			@media (max-width: 781px) {
				font-size: 18px;
				float: none;
				width: 100%;
				padding-bottom: 15px;
			}
		}

		.label-field {
			display: block;
			margin: 0 0 0 225px;
			max-width: 800px;

			@media (max-width: 781px) {
					margin: 0;
			}
		}

		input, #emails {
			// flex: 0 0 auto;
		}
		
		input[type="checkbox"] {
			// flex: 0 0 auto;
		}

		input[type="email"] {
			background-color: #fff;
			border: 1px solid #999;
			border-radius: 4px;
			box-shadow: none;
			color: #555;
			display: inline-block;
			vertical-align: middle;
			padding: 7px 12px;
			margin: 0 10px 0 0;
			width: 400px;
			min-height: 35px;
			line-height: 1.3;
		}
	}

	#emails {
		button {
			//margin: 0;
			//padding: 0;
		}

		.email {
			//display: flex;
			//gap: 5px;
			//justify-content: space-between;
			//align-items: center;
			padding-bottom: 10px;

			button {
				//background-color: transparent;
				//border: none;
				//color: #414141;
			}

			input[type="email"] {
				background-color: #ededed;
			}
		}
	}

	.add-email {
		//display: flex;
		//gap: 5px;
		//justify-content: space-between;
		//align-items: flex-start;

		input[type="email"], button {
			@media (max-width: 781px) {
				margin-bottom: 10px;
			}
		}
	}

	.right {
		//margin-left: 100px;
	}
	
	#tabs {
		.tab-titles{
			min-height: 58px;
			background-color: #fff;
			font-size: 14px;
			margin: 0 0 30px 0;
			padding: 0 20px;
		}
		.tab-title{
			border-bottom: 2px solid #fff;
			box-shadow: none;
			color: #666;
			display: inline-block;
			margin-right: 30px;
			padding: 20px 0 18px 0;
			text-decoration: none;
			cursor: pointer;
		}
		.tab-title-active {
			border-bottom: 2px solid #e27730;
		}

		.tab-title:hover {
			border-color: #999;
		}

		.tab-content{
			padding: 0 20px;
		}
	}

	.list-emails {
		margin-top: 25px;

		li {
			span {
				margin-right: 10px;
			}
		}
	}

	.spinner-wrapper {
		margin: 20px 0 0 20px;
	}

	.graph-spinner-wrapper {
		margin: 10px 0 0 0;
	}

	.hr-sep {
		background: #e4e4e4;
		height: 1px;
		border: 0;
		margin: 15px 0;		
	}

	.delete-email {
		display: inline-block;
		cursor: pointer;

		span:hover {
			color: #c00e0e;
		}
	}

	.desc {
		margin: 10px 0 0;
		font-style: italic;
		font-size: 14px;
		color: #555;
	}
}
